:root{
  --orange: #f44
}
* {
  box-sizing: border-box
}

body{
  font-family: monospace;
  margin:0;
  color: #fc8;
  background-color: #2C3333;
  text-align: center;
  font-size: 2rem;
}

button{
  text-decoration: none;
  background-color: aquamarine;
  border-style: solid;
  border-width: 4px;
  border-color: #fc8;
  font-weight: bolder;
  font-size: 2rem;
}

h2{
  margin-top: 2rem;
  color: #f44;
}

.box{
  display: flex;
  margin-bottom: 4rem;
}
.button{
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button-remove-all{
  padding: .5rem;
  font-size: 1.5rem;
  background-color: #f44
}

.button-primes:active,
.button-remove-all:active{
  color: #f44
}

.button-add:active,
.button-remove:active{
  color: #fc8
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  padding: 2rem;
  border-style: solid;
  background-color: #9b336e;
  transition-property: all;
  transition-duration: 1s;
  opacity: 1;
}

.card:hover{
  transform: scale(2);
  cursor: pointer;
  background-color: var(--orange)
}

#footer{
  margin-top: 5rem;
  font-size: 2rem
}