:root{
  --orange: #f44
}
* {
  box-sizing: border-box
}

body{
  font-family: monospace;
  margin:0;
  color: #fc8;
  background-color: #121212;
  text-align: center;
  font-size: 2rem;
}

button{
  color: #fc8;
  text-decoration: none;
  background-color: #121212;
  border-style: solid;
  border-width: 4px;
  border-color: #fc8;
  font-weight: bolder;
  font-size: 2rem;
  transition-duration: 0.5s
}

h2{
  margin-top: 2rem;
  color: #f44;
}

button:hover{
  border-color: #f44
}

button:active{
  color: #f44
}

.box{
  display: flex;
  margin-bottom: 4rem;
}
.button{
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button-remove-all{
  padding: .5rem;
  font-size: 1.5rem;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  padding: 2rem;
  border-style: solid;
  background-color: #414ac9;
  transition-property: all;
  transition-duration: 1s;
  opacity: 1;
}

.card:hover{
  transform: scale(2);
  cursor: pointer;
  background-color: var(--orange)
}

.info{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.info + p{
  padding: .3rem
}

#footer{
  margin-top: 5rem;
  font-size: 2rem;
}

.info,
#footer{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #414ac9;
  border: solid 5px #fc8
}